body {
	background-color: rgb(220,220,220);
	font-family: Arial, Verdana, sans-serif;}
p {
	font-size: 150%;
	text-align: right;
	padding-right: 20px;
	color: rgb(139,137,137);}
h1 {
	font-size: 1250%;
	text-align: center;}
h2 {
	font-size:250%;
	text-align: center;}
a {
	color: black;
	text-decoration: none;
	color: rgb(139,137,137);}
form {
	text-align: center;
	/*padding-top: 15%;*/
}
fieldset {
	background-color: rgb(245,245,245);
	padding: 5px;}
input[type="submit"] {
	font-size: 250%;
	background-color: rgb(139,137,137);
	color: white;
	border-radius: 5px;}
input[type="text"] {
	font-size: 100%;}
label {
	font-size: 250%;
	padding-bottom: 20px;}
legend {
	font-size:250%;
	background-color: rgb(139,137,137);
	color: white;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;}


#myAlarms{
	width: 60%;
	margin-left: 20%;
	margin-top: 60px;
	background-color: rgb(245,245,245);
	
}

#myAlarms .alarm{
	margin-top: 30px;
	float: left;
	width: 100%;
}

#myAlarms p{
	text-align: left;
	float: left;
	width: 50%;
	margin: 0px;
	padding: 0px;
}

#myAlarms .operations p{
	text-align: right;
	width: 25%;
	cursor: pointer;
}

#myAlarms .operations p:hover{
	opacity: 0.8;
}