<!DOCTYPE html>
<html>
	<head>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<link href="/static/Setup.css" type="text/css" rel="stylesheet" />
		<title>Alarm clock</title>
	</head>
	<body>	
        	<p>{{username}}</p>
        	<h1 id = "timeField">{{time}}</h1>
        	<h2><a href="/toset">Set new alarm</a></h2>
        	<h2><a href="/logout">Choose other user</a></h2>
	</body>
	
	<script>
        $(document).ready(function() {
            setInterval(ajaxd,5000); // call every 5 seconds
        });

        function ajaxd() { 
          $("#timeField").load("/refresh");
        }
</script>

</html>