<!DOCTYPE html>
<hml>
	<head>
		<link href="/static/Setup.css" type="text/css" rel="stylesheet" />
		<title>Alarm clock</title>
	</head>
	<body>
		<form action="/set" method="POST">
			<fieldset>
				<legend>Set new alarm </legend>
				<br />
				<label>Time: <input type="text" name="hours" size="3" maxlength="2"></label>
				<label>: <input type="text" name="minutes" size="3" maxlength="2"></label>
				<br />
				<br />
				<input type="submit" value="Set" />
				<br />
			</fieldset>
		</form>
	</body>
</html>		